%% -*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{erl_opts, [debug_info]}.

{xref_checks, [ undefined_function_calls, undefined_functions, locals_not_used ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles,
  [ {test, [ {deps,
              [ {meck, {git, "git@github.corp.openx.com:mirrors/eproxus-meck.git", {tag, "0.8.9"}}}
              ]} ]}
  ]
}.
